.Bg,.App{
  background-image: url(https://e0.pxfuel.com/wallpapers/12/416/desktop-wallpaper-dark-waves-abstraction-art.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding:0px;
}
